
<div id="page-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title-padding"><i class="fa fa-question pr-1"></i><strong>Your questions</strong></h2>
        </div>
    </div>
    <div id="account-questions-list" class="row panel panel-info">
    </div>
    <div id="account-no-questions-alert" class="row hidden">
      <div class="page-wrap d-flex flex-row align-items-center">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                      <span class="display-1 d-block m-1"><i class="fa fa-5x fa-folder-open"></i></span>
                      <div class="mb-4 lead">You haven't asked any questions yet!</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row account-questions-pagination-nav">
      <h6 id="account-questions-page-number" class="pagination-header"></h6>
    </div>
    <nav aria-label="Page navigation example" class="account-questions-pagination-nav">
      <ul class="pagination pull-right mr-8">
        <li class="page-item"><button id="previous-questions" onclick="account.paginate(this)" class="button-pag" href="#">Previous</button></li>
        <li class="page-item"><button id="next-questions" onclick="account.paginate(this)" class="button-pag" href="#">Next</button></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title-padding""><i class='fa fa-comment pr-1'></i><strong>Your answers</strong></h2>
        </div>
    </div>
    <div id="account-answers-list" class="row panel panel-info">
    </div>
    <div id="account-no-answers-alert" class="row hidden">
      <div class="page-wrap d-flex flex-row align-items-center">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                      <span class="display-1 d-block m-1"><i class="fa fa-5x fa-folder-open"></i></span>
                      <div class="mb-4 lead">You haven't given any answers yet!</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row account-answers-pagination-nav">
      <h6 id="account-answers-page-number" class="pagination-header"></h6>
    </div>
    <nav aria-label="Page navigation example" class="account-answers-pagination-nav">
      <ul class="pagination pull-right mr-8">
        <li class="page-item"><button id="previous-answers" onclick="account.paginate(this)" class="button-pag" href="#">Previous</button></li>
        <li class="page-item"><button id="next-answers" onclick="account.paginate(this)" class="button-pag" href="#">Next</button></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title-padding""><i class="fa fa-minus-circle text-red pr-1"></i><strong>Your questions that have been removed</strong></h2>
        </div>
    </div>
    <div id="account-removed-question-list" class="row panel panel-info">
    </div>
    <div id="account-no-removed-question-alert" class="row hidden">
      <div class="page-wrap d-flex flex-row align-items-center">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                      <span class="display-1 d-block m-1"><i class="fa fa-5x fa-folder-open"></i></span>
                      <div class="mb-4 lead">None of your questions have been removed. Great job!</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row account-removed-question-pagination-nav">
      <h6 id="account-removed-question-page-number" class="pagination-header"></h6>
    </div>
    <nav aria-label="Page navigation example" class="account-removed-question-pagination-nav">
      <ul class="pagination pull-right mr-8">
        <li class="page-item"><button id="previous-questions-removed" onclick="account.paginate(this)" class="button-pag" href="#">Previous</button></li>
        <li class="page-item"><button id="next-questions-removed" onclick="account.paginate(this)" class="button-pag" href="#">Next</button></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title-padding""><i class="fa fa-minus-circle text-red  pr-1"></i><strong>Your answers that have been removed</strong></h2>
        </div>
    </div>
    <div id="account-removed-answer-list" class="row panel panel-info">
    </div>
    <div id="account-no-removed-answers-alert" class="row hidden">
      <div class="page-wrap d-flex flex-row align-items-center">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                      <span class="display-1 d-block m-1"><i class="fa fa-5x fa-folder-open"></i></span>
                      <div class="mb-4 lead">You haven't given any answers yet!</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row account-removed-answers-pagination-nav">
      <h6 id="account-removed-answers-page-number" class="pagination-header"></h6>
    </div>
    <nav aria-label="Page navigation example" class="account-removed-answers-pagination-nav">
      <ul class="pagination pull-right mr-8">
        <li class="page-item"><button id="previous-answers-removed" onclick="account.paginate(this)" class="button-pag" href="#">Previous</button></li>
        <li class="page-item"><button id="next-answers-removed" onclick="account.paginate(this)" class="button-pag" href="#">Next</button></li>
      </ul>
    </nav>
  </div>
</div>

<div class="modal fade" id="edit-question-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="edit-question" role="form">
            <input type="hidden" name="id" />
            <input name="department_id" type="hidden" />
            <input name="course_id" type="hidden" />
            <input name="year_id" type="hidden" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ask a question</h4>
            </div>
            <div class="modal-body">
                  <div class="form-group">
                      <label>Subject</label>
                      <input type="text" name="subject" class="form-control" placeholder="Subject of the question" required minlength="5">
                  </div>
                  <div class="form-group">
                      <label>Body</label>
                      <textarea name="body" class="form-control" rows="10"></textarea>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Save changes</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

  var account = new Account();
  account.init();

</script>
