<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-info" style="border-radius: 10%;">
                    <div class="panel-heading" style="border-radius: 10%;">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-question fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="question-count" class="huge">0</div>
                                <div>Questions Asked</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-warning" style="border-radius: 10%;">
                    <div class="panel-heading" style="border-radius: 10%;">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-font fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="answer-count" class="huge">0</div>
                                <div>Answers Given</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success" style="border-radius: 10%;">
                    <div class="panel-heading" style="border-radius: 10%;">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-map-pin fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="pin-count" class="huge">0</div>
                                <div>Pins Gained</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question fa-fw"></i> Three latest questions
                    </div>
                    <div class="panel-body container-fluid">
                        <div id="latest-questions" class="row"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question fa-fw"></i> Three latest answers given
                    </div>
                    <div class="panel-body container-fluid">
                        <div id="latest-answers" class="row"></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                <h1>This weeks hotest topics</h1>

              </div>
            </div>
    </div>
</div>

<script type="text/javascript">

  Dashboard.init();

</script>
