
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 id="title" class="page-header"></h1>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="dropdown ask-button">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Semester
            </button>
            <div class="dropdown-menu" id="dropdown-menu-semesters" aria-labelledby="dropdownMenuButton">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Action</a></li>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <button class="btn pull-right ask-button btn-success" data-toggle="modal" data-target="#ask-question-modal">Ask question</button>
        </div>
      </div>
      <div class="row mb-1" id="courses-labels">
        <span class="label label-primary">Primary Label</span>
      </div>
    </div>

    <div id="question-list" class="row">
    </div>
    <div class="row">
      <h6 id="page-number" class="pagination-header"></h6>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination pull-right">
        <li class="page-item"><button id="previous" onclick="paginate(this)" class="button-pag" href="#">Previous</button></li>
        <li class="page-item"><button id="next" onclick="paginate(this)" class="button-pag" href="#">Next</button></li>
      </ul>
    </nav>
  </div>
</div>

<div class="modal fade" id="ask-question-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="ask-question" role="form">
            <input type="hidden" name="id" />
            <input name="department_id" type="hidden" />
            <input name="year_id" type="hidden" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ask a question</h4>
            </div>
            <div class="modal-body">
                  <div class="form-group">
                      <label>Subject</label>
                      <input type="text" name="subject" class="form-control" placeholder="Subject of the question" required minlength="5">
                  </div>
                  <div class="form-group">
                      <label>Body</label>
                      <textarea name="body" class="form-control" rows="10"></textarea>
                  </div>
                  <div class="form-group">
                      <label>Course ID</label>
                      <input name="course_id" type="number" class="form-control" placeholder="Enter ID" required>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Save changes</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

  $("#ask-question").validate({
   submitHandler: function(form, event) {
     let query = window.location.search;
     event.preventDefault();

     const urlParams = new URLSearchParams(query);
     let department = urlParams.get("department");
     let semester = urlParams.get("semester");
     $("#ask-question *[name='department_id']").val(department);
     $("#ask-question *[name='year_id']").val(semester);

     let data = jsonize_form($(form));
     askQuestion(data);

   }
  });

  $(window).on('hashchange', function(e){
    console.log("change");
    loadPage();
  });

  let questionsList = [];
  let maxPage;
  let currentPage = 1;
  let rows = 5;

  function displayQuestions(items, wrapper, rowsPerPage, page){
    $(wrapper).html("");
    page--;

    $("#page-number").html("Page " + (page + 1) + " out of " + maxPage);

    let start = rowsPerPage * page;
    let end = start + rowsPerPage
    let paginatedItems = items.slice(start, end);

    for(let i=0; i<paginatedItems.length; i++){
      let item = paginatedItems[i];

       $(wrapper).append(item);
    }
  }

  function paginate(element){
    let id = element.id;
    if (id == "next"){
      if (maxPage >= currentPage + 1){
        currentPage++;
        displayQuestions(questionsList, "#question-list", rows, currentPage);
      }
    } else if (id == "previous"){
      if (currentPage - 1 > 0){
        currentPage--;
        displayQuestions(questionsList, "#question-list", rows, currentPage);
      }
    }

  }

  function loadPage(){
    let query = window.location.search;
    const urlParams = new URLSearchParams(query);
    let department = urlParams.get("department");
    let semester = urlParams.get("semester");
    let course = null;
    if(urlParams.has("course")){
      course = urlParams.get("course");
    }
    console.log(course);

    questionsList = [];

    $.ajax({
         url: "api/user/departments/"+department,
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           $("#title").html(data.name);
         },
         error: function(jqXHR, textStatus, errorThrown ){
           toastr.error(jqXHR.responseJSON.message);
           console.log(jqXHR);
         }
      });

      $.ajax({
           url: "api/semesters",
           type: "GET",
           success: function(data) {
             let html = "";
             for(let i=0; i<data.length; i++){
               html += `<li><a href="javascript:semesterClicked(${data[i].id})">${data[i].level}</a></li>`;
             }
             $("#dropdown-menu-semesters").html(html);
           },
           error: function(jqXHR, textStatus, errorThrown ){
             toastr.error(jqXHR.responseJSON.message);
             console.log(jqXHR);
           }
        });

      $.ajax({
           url: "api/questions",
           type: "GET",
           data: {
             "department_id":department,
             "semester_id":semester,
             "course_id" : course,
             "order":"%2Bid"
           },
           beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
           success: function(data) {
             for(var i=0; i<data.length; i++){
               questionsList[i] = `<div class='col-lg-12'>
                                     <div class='card bg-info card-padding card-style' style='height: auto;'>
                                       <div class='card-body'>
                                         <h3 class='card-title'>${data[i].subject}</h3>
                                         <h6 class='card-subtitle mb-2 text-muted'>${data[i].posted_at}</h6>
                                         <h6 class='card-subtitle mb-2 text-muted'>Posted by: ${data[i].name}</h6>
                                         <p class='card-text'>${data[i].body}</p>
                                       </div>
                                       <div class='card-footer'>
                                         <a onclick='loadAnswers(${data[i].id})' style='text-decoration: none; color:black;'><i class='fa fa-comments'></i>Anwsers</a>
                                       </div>
                                       <div id='answers-container-${data[i].id}' class="container-fluid hidden">
                                         <div class="row" id='answers-list-${data[i].id}'>

                                         </div>
                                         <div class='row text-center'>
                                           <div class="card-footer" onclick='hideAnswers(${data[i].id})'><i class="fa fa-chevron-up"></i></div>
                                         </div>
                                       </div>
                                     </div>
                                   </div>`;
             }
             if(questionsList.length%rows == 0) {
               maxPage = questionsList.length/rows;
             } else {
               maxPage = Math.floor(questionsList.length/rows) + 1;
             }
             currentPage = 1;
            displayQuestions(questionsList, "#question-list",rows, currentPage);
           },
           error: function(jqXHR, textStatus, errorThrown ){
             toastr.error(jqXHR.responseJSON.message);
             console.log(jqXHR);
           }
        });

        $.ajax({
             url: "api/courses",
             type: "GET",
             data: {
               "semester_id" : semester,
               "department_id" : department
             },
             success: function(data) {
               let html = "";
               for(let i=0; i<data.length; i++){
                 html += `<span class="label label-info mr-1" onclick="courseClicked(${data[i].id})">${data[i].name}</span>`;
               }
               $("#courses-labels").html(html);
             },
             error: function(jqXHR, textStatus, errorThrown ){
               toastr.error(jqXHR.responseJSON.message);
               console.log(jqXHR);
             }
          });

  }

  function courseClicked(course_id){
    var url = new URL(window.location);
    console.log(url);
    if(url.search.includes("course")){
      url.searchParams.set("course", course_id);
    } else {
      url.searchParams.append("course", course_id);
    }

    window.history.replaceState(null, null, url.search+"#departments");
    loadPage();
  }

  function hideAnswers(questionId){
    $("#answers-container-"+questionId).addClass("hidden");
  }

  function loadAnswers(questionId){
    $.ajax({
         url: "api/user/answers-by-question/"+questionId,
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           text = "";
           for(var i=0; i<data.length; i++){
             text += `<div class='col-lg-12'>
                                   <div class='card bg-info card-padding card-style' style='height: auto;'>
                                     <div class='card-body'>
                                       <h6 class='card-subtitle mb-2 text-muted'>${data[i].posted_at}</h6>
                                       <p class='card-text'>${data[i].body}</p>
                                     </div>
                                   </div>
                                 </div>`;
           }
           $("#answers-list-"+data[0].question_id).html(text);
           $("#answers-container-"+data[0].question_id).removeClass("hidden");
         },
         error: function(jqXHR, textStatus, errorThrown ){
           toastr.error(jqXHR.responseJSON.message);
           console.log(jqXHR);
         }
      });
  }

  function askQuestion(question){
    $.ajax({
         url: "api/user/question",
         type: "POST",
         data: JSON.stringify(question),
         contentType: "application/json",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
          toastr.success("Question posted successfuly");
          loadPage();
          $("#ask-question").trigger("reset");
          $("#ask-question-modal").modal("hide");
        },
        error: function(jqXHR, textStatus, errorThrown){
          toastr.error(jqXHR.responseJSON.message);
          console.log(jqXHR);
        }
      });
  }

  function semesterClicked(semester_id){
    var url = new URL(window.location);
    console.log(url);
    if(url.search.includes("semester")){
      url.searchParams.set("semester", semester_id);
    } else {
      url.searchParams.append("semester", semester_id);
    }

    window.history.replaceState(null, null, url.search+"#departments");
    loadPage();
  }


  $(document).ready(function() {
    loadPage();
  });

</script>
